# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test
*.env*
natya-web/.env*
backend/.env*

# Next.js
natya-web/.next/
natya-web/node_modules/

# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/media/
backend/staticfiles/

# IDEs
.vscode/
.idea/
.DS_Store

